*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

 .main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../images/homepage-option17-banner-bg.jpg) ;
    background-size: cover;
    padding-left: 55rem;
    padding-bottom: 5rem;
}
span{
    color: red;
    font-size: 1rem;
}




header .navbar .nav-link, header .navbar .nav-link.active{
        color: white;
}
header .navbar-nav > .nav-item{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0 1rem;

}
.v-sep{
    position: relative;
    padding: 0 1.3rem;
}
.v-sep::before{
    content: "";
    position: absolute;
    left:0 ;
    top: 50%;
    height: 16px ;
    border-left: 1px solid rgba(255,255,255,0.2);
    top: calc(50%-8px);
}
#hero .carousel-item{
    height:100vh;
    overflow: hidden;
}
#hero .carousel-item img{
    object-fit: cover;
    height: 100%;
}
.title{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-weight: 600;
    margin-top: 7rem;
    
}
.par{
    display: flex;
    justify-content: center;
   padding-left: 5rem;
   opacity: 80%;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction:row ;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    padding: 30px;
    margin: 15px;
    margin-left: 4rem;
    margin-bottom: 8rem;
}
.info{
    text-align: center;
}
.info p{
   font-size:0.9rem ;
   opacity:0.7rem ;
}
.info h3{
    font-size: 1rem;
     
}
.icons{
    margin-left:-4rem ;
    margin-top:3rem;
}

.icon{
   text-align: center;
  color: white;
  background-color:red ;
  width: 80px;
  height:80px ;
  border-radius: 100%;
  margin-left: 4rem;
  margin-bottom: 3rem;
}
.train{
    margin-top:8rem;
    margin-bottom:6rem ;
}



.links{
    text-align:center ;
    margin-left: 5rem;
    word-spacing:4rem ;
    margin-top: 5rem;
   text-decoration: none;
   color: black;
    opacity: 70%;
    
}

.btn{
    color: white;
    background-color: black;
    text-shadow: 3rem;
}


.details h1{
    color: white;
}
.details p{
    color: rgba(184, 171, 171, 0.8);
    font-size: medium;
    
    
}
.main{
    display:flex ;
    flex-wrap:wrap ;
    overflow:hidden ;
    scroll-behavior: auto;
    background-image:url(../images/homepage-option17-banner-bg.jpg) fixed no-repeat top right;
   
}
.hm{
    display:flex;
    overflow:hidden ;
    width: 35%;
    max-width:100% ;
    flex:1 25% ;
    font-size:small ;
}
.hm h3 p{
    opacity:0.9rem ;
}
.two{
    display: flex;
    
}
.res{
    text-align:left;
    margin-top:2rem;
    margin-bottom:3rem ;
}
.res h3{
    color:black;
    fill: opacity 1.2em;;
    font-size:0.1rem ;
    text-align:left ;
    
    
}
.res p{
    opacity:0.7 ;
}
.pa {
    margin-left:-8rem ;
    text-align:left ;
}
.pa h3{
    color:black ;
    font-size: 1.2rem;
    
}
.pa p{
    text-align:left;
}
.pa1{
    margin-left:-8rem ;
}
.pa1 h3{
    font-size:1.2rem ;
}
.pa1 p{
    text-align:left ;
}
.pa2{
    margin-left: -8rem;
}
.pa2 h3{
    font-size:1.2rem ;
}
.pa2 p{
    text-align:left;
}
.ico{
    opacity: 1.2rem;
}
.mo{
    margin-top: 6rem;

}
.mo1{
    
    padding-top: 7rem;
    padding-left: 8rem;

}
.mo h3{
    color: red;
    text-align: left;
    font-size:  1.2rem; ;
}
.mo1 h2{
    text-align: left;
    padding-right:10rem;

}
.mo1 p{
    text-align: left;
}
.link{
    font-size:0.9rem ;
    color:black;
    
}

